# Ignorar variáveis secretas (variáveis de ambiente)
.env
*.env

# Ignorar ambientes virtuais
venv/
env/

# Ignorar cache e arquivos temporários do Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignorar arquicos de IDE
.vscode/

# Ignorar código de validação interna
validador.py